/**
 * #############################
 * Global
 * #############################
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d7d7d7;
}

a {
    transition: var(--transition-primary);
}

a:hover {
    color: var(--color-blue);
}

li {
    list-style: none;
}

/**
 * #############################
 * Variables
 * #############################
 */
:root {
    --background-dark: #000b1d;
    --background-light: #313d56;
    --color-white: #fff;
    --color-blue: #66addc;
    --color-subtle: #737373;
    --separator-gray: 4px dotted #606060;
    --separator-light: 4px dotted #c8c8c8;
    --font-text: 'Roboto', sans-serif;
    --font-header: 'Oswald', sans-serif;
    --small-indent: 15px;
    --medium-indent: 20px;
    --large-indent: 25px;
    --transition-primary: 200ms ease-out;
    --max-width: 1040px;
}

/**
 * #############################
 * Header styling
 * #############################
 */
.header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 30px;
    background-color: var(--background-light);
    height: 50px;
}

@media screen and (max-width: 940px) {
    .header {
        padding: 0 5px;
    }
}

@media screen and (max-width: 680px) {
    .header {
        display: none;
    }
}

.header nav {
    height: 100%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__nav-item {
    font-family: var(--font-header);
    color: var(--color-white);
    font-size: 20px;
    line-height: 1;
    margin: 0 20px;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (max-width: 940px) {
    .header__nav-item {
        margin: 0 10px;
    }
}

/**
 * #############################
 * Main layout styling
 * #############################
 */
.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--background-dark);
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
        'spacer-left hero spacer-right'
        'experience hero projects'
        'languages hero education'
        'technologies-left hero technologies-right';
}

@media screen and (max-width: 940px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, min-content);
        grid-template-areas:
            'hero'
            'experience'
            'languages'
            'education'
            'projects'
            'technologies-left'
            'technologies-right'
            'spacer-left'
            'spacer-right';
    }
}

.central-panel {
    grid-area: hero;
}

.spacer.spacer--left {
    grid-area: spacer-left;
}

.section.section--experience {
    grid-area: experience;
}

.section.section--languages {
    grid-area: languages;
}

.section.section--technologies-left {
    grid-area: technologies-left;
}

.spacer.spacer--right {
    grid-area: spacer-right;
}

.section.section--projects {
    grid-area: projects;
}

.section.section--education {
    grid-area: education;
}

.section.section--technologies-right {
    grid-area: technologies-right;
}

/**
 * #############################
 * Side columns styling
 * #############################
 */
.spacer {
    height: 300px;
}

@media screen and (max-width: 940px) {
    .spacer {
        height: 0;
    }
}

.section {
    padding: 0 var(--small-indent) var(--small-indent);
}

.section--align-right {
    text-align: right;
}

@media screen and (max-width: 940px) {
    .section--align-right {
        text-align: left;
    }
}

.section__header {
    font-family: var(--font-header);
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    border-top: var(--separator-gray);
    border-bottom: var(--separator-gray);
    text-align: center;
    color: var(--color-white);
}

.section__block {
    margin-top: 15px;
}

.section__subheader {
    font-family: var(--font-header);
    color: var(--color-blue);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.section__subheader-note {
    font-family: var(--font-header);
    color: var(--color-white);
    font-weight: 400;
    font-size: 18px;
}

.section__subtle-text {
    font-family: var(--font-text);
    color: var(--color-subtle);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.section__primary-text {
    font-family: var(--font-text);
    color: var(--color-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.section--technologies-right .technologies__row {
    flex-direction: row-reverse;
}

.section--technologies-right .technologies__title {
    margin-right: 0;
    margin-left: 10px;
}

@media screen and (max-width: 940px) {
    .section--technologies-right h2 {
        display: none;
    }

    .section--technologies-right .technologies {
        padding-top: 10px;
    }
}

.section--technologies-left .technologies__skill-point:last-child {
    margin-right: 0;
}

@media screen and (max-width: 940px) {
    .section--technologies-left {
        padding-bottom: 0;
    }

    .section--technologies-left .technologies__row {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    @media screen and (max-width: 940px) {
        .section--technologies-left .technologies__row .technologies__skill-container {
            margin-right: 17px;
        }
    }
}

.technologies {
    padding: var(--small-indent, 0) 0 0;
}

.technologies__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.technologies__row:last-child {
    margin-bottom: 0;
}

.technologies__title {
    font-family: var(--font-text);
    color: var(--color-white);
    font-weight: 400;
    font-size: 18px;
    margin-right: 15px;
}

.technologies__skill-container {
    display: flex;
    flex-direction: row;
}

.technologies__skill-point {
    background-image: url(./assets/icons/hexagon_filled.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    margin: 0 7px 0 0;
}

.technologies__skill-point--empty {
    background-image: url(./assets/icons/hexagon.svg);
}

/**
 * #############################
 * Central column styling
 * #############################
 */
.central-panel {
    position: relative;
    margin-top: 260px;
    background-color: var(--background-light);
    text-align: center;
    padding: 140px var(--small-indent) 0;
}

.avatar {
    z-index: 1;
    position: absolute;
    top: -180px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    padding: 10px;
    background-color: white;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.avatar > img {
    width: 280px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.triangle {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 70px solid transparent;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 30px solid var(--background-light);
}

.h1_header {
    font-family: var(--font-header);
    color: var(--color-white);
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
}

.intro {
    margin-bottom: var(--large-indent);
}

.intro__subheader {
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 5px;
}

.intro__intro-text {
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.5;
    margin-top: var(--small-indent);
}

.info {
    padding: var(--large-indent) 0;
    border-top: var(--separator-light);
    border-bottom: var(--separator-light);
}

.info__container {
    margin-bottom: var(--medium-indent);
}

.info__container:last-child {
    margin-bottom: 0;
}

.info__title {
    font-family: var(--font-header);
    color: var(--color-white);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.info__value {
    font-family: var(--font-header);
    color: var(--color-blue);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

a.info__value:hover {
    color: var(--color-white);
}

.hobbies {
    padding: var(--large-indent) 0;
    border-bottom: var(--separator-light);
}

.hobbies__header {
    font-family: var(--font-header);
    color: var(--color-white);
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.hobbies__icons-wrapper {
    margin-top: var(--medium-indent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 940px) {
    .hobbies__icons-wrapper {
        justify-content: space-around;
    }
}

.hobbies__icon {
    width: 50px;
    height: 50px;
}

.contacts {
    padding: var(--large-indent) 0;
}

.contacts__header {
    font-family: var(--font-header);
    color: var(--color-white);
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.contacts__links-wrapper {
    margin-top: var(--medium-indent);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: var(--medium-indent);
}

@media screen and (max-width: 940px) {
    .contacts__links-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        row-gap: 0;
    }
}

.contacts__link {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.contacts__link:hover {
    filter: contrast(0.3) sepia(1) hue-rotate(181deg) saturate(3) brightness(0.9);
}

.contacts__link--linkedin {
    background-image: url(./assets/icons/linkedin.svg), url(./assets/icons/hexagon_white.svg);
}

.contacts__link--telegram {
    background-image: url(./assets/icons/telegram.svg), url(./assets/icons/hexagon_white.svg);
}

.contacts__link--facebook {
    background-image: url(./assets/icons/facebook.svg), url(./assets/icons/hexagon_white.svg);
}

.contacts__link--skype {
    background-image: url(./assets/icons/skype.svg), url(./assets/icons/hexagon_white.svg);
}

/**
 * #############################
 * Footer styling
 * #############################
 */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--background-light);
    height: 80px;
    border-top: 10px solid var(--background-dark);
    padding: 0 40px;
}

@media screen and (max-width: 940px) {
    .footer {
        height: 70px;
        padding: 0 15px 0 5px;
        border-top: none;
    }
}

.footer__item {
    margin: 0 10px;
    font-family: var(--font-header);
    color: var(--color-white);
    font-size: 20px;
    line-height: 1;
}

.footer__item-link {
    color: var(--color-white);
}

.footer__rs-school {
    height: 40px;
    margin-top: 5px;
}
